{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <img src="{{category.image.url}}" height="500px" width="100%">
</div>
<div class="container w-50 p-5">
    <h1 class="text-center">{{category.name}}</h1>
    <p style="text-align:justify;font-size:20px;">>{{category.description}}</p>
</div>

<div class="products-box">
        <div class="container">

            <div class="row special-list">
                {% for i in category.products.all %}
                <div class="col-lg-3 col-md-6 special-grid best-seller">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <div class="type-lb">
                                <p class="sale">Sale</p>
                            </div>
                            <img src="{{i.image.url}}" class="img-fluid" alt="Image">
                            <div class="mask-icon">
                                <ul>
                                    <li><a href="#" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                    <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                                    <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                </ul>
                                <a class="cart" href="{% url 'shop:productdetail' i.id %}">Details</a>
                            </div>
                        </div>
                        <div class="why-text">
                            <h4>{{i.name}}</h4>
                            <h5> {{i.price}}</h5>
                        </div>
                    </div>

                </div>
                {% endfor %}

            </div>
        </div>



{% endblock %}